---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "@components/sections/Section.astro";
---

<BaseLayout
  title="Олимп | Направления"
  description="Спортивные напрвления в школк спорта Олимп"
>
  <Section>
    <div class="container">
      <h1>Направления</h1>
    </div>
  </Section>
</BaseLayout>
