---
import "@fontsource/inter";
import BaseHead from "../components/BaseHead.astro";
import "../styles/base.css";
import TopBar from "@components/TopBar.astro";
import Navbar from "@components/Navbar.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="text-base bg-white text-blue">
    <TopBar />
    <Navbar />
    <main>
      <slot />
    </main>
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script>
      import Alpine from "alpinejs";

      window.Alpine = Alpine;

      Alpine.start();
    </script>
  </body>
</html>
